@model Model.Personas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_PACIENTE_TITULAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_PACIENTE_TITULAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_VENDOR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_VENDOR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_PERSONAL_PACIENTE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_PERSONAL_PACIENTE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NUMERO_CARNET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NUMERO_CARNET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRIMER_APELLIDO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRIMER_APELLIDO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEGUNDO_APELLIDO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEGUNDO_APELLIDO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GENERO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GENERO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIPO_IDENTIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIPO_IDENTIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUENTE_INSCRIPCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUENTE_INSCRIPCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TELEFONO2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TELEFONO2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MOVIL_CELULAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MOVIL_CELULAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIRECCIONDETALLADA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DIRECCIONDETALLADA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PARENTESCO_CON_TITULAR_CUENTA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PARENTESCO_CON_TITULAR_CUENTA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PROVINCIA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PROVINCIA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIPO_PACIENTE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIPO_PACIENTE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_INSCRIPCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_INSCRIPCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ULTIMA_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ULTIMA_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COMO_SE_ENTERO_PROGRAMA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COMO_SE_ENTERO_PROGRAMA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACEPTA_SER_CONTACTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACEPTA_SER_CONTACTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACEPTA_CONTACTO_TELEFONO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACEPTA_CONTACTO_TELEFONO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACEPTA_CONTACTO_CELULAR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACEPTA_CONTACTO_CELULAR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ACEPTA_CONTACTO_CORREO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ACEPTA_CONTACTO_CORREO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.authorizedAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.authorizedAccount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
